* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a:link, a:visited, a:active {
  list-style-type: none;
  text-decoration: none; }

#body {
  height: 190vh; }
  #body #header {
    padding-left: 0px;
    padding-right: 0px; }
    #body #header nav div a .navLogo {
      width: 200px;
      padding: 0px; }
  #body main {
    height: 170vh; }
    #body main div section {
      padding-left: 0px;
      padding-right: 0px; }
    #body main #containerArea {
      height: 23vh;
      padding-top: 2vh; }
    #body main h5 {
      padding-top: 2vh; }
  #body #footer {
    background-color: #1e1f1e;
    width: 100%; }
    #body #footer div #divFooter div a #imgFooter {
      width: 200px; }
    #body #footer div div #ulDelFooter {
      list-style-type: none;
      text-decoration: none; }
