@import "./variables";
@import "./mixin";

    #bodyContacto {

        #header {
            padding-left: 0px;
            padding-right: 0px;
            nav {
                div {
                    a {
                        .navLogo {
                            width: 200px;
                            padding: 0px;
    
                        }
                    }
                }
            }
        }
        #mainContacto {
            div {
                section {
                    padding-left: 0px;
                    padding-right: 0px;
                    #carouselExampleSlidesOnly {
                        div {
    
                            div {
                                img {
    
                                }
                            }
                        }
                    }
                }
            }
            section {
                margin-bottom: 1rem;

            }
        }
        #footer {
            background-color: $colorgeneral;
            width: 100%;    
            div {
                #divFooterContacto {
                        a {
                            #imgFooter {
                                width: 200px;
                            }
                        }
                        p {
                            padding-left: 2rem;
                            font-size: 0.8rem;
                        }       
                }
                    div {
                        #ulDelFooter {
                            @include reseteo-lista;
                            margin-bottom: 0px;
                            li {
                                a {
                                    font-size: 0.8rem;
                                    
    
                                }
    
                            }
    
                        }
                    }
    
            }
    
        }
        }