@import "./variables";
@import "./mixin";

    #bodyContacto {
        height: 170vh;
        @include mobile {
            height: 105vh;
        }
        #header {
            padding-left: 0px;
            padding-right: 0px;
            nav {
                div {
                    a {
                        .navLogo {
                            width: 200px;
                            padding: 0px;
    
                        }
                    }
                }
            }
        }
        #mainContacto {
            height: 150vh;
            @include mobile {
                height: 85vh;
            }
            div {
                section {
                    padding-left: 0px;
                    padding-right: 0px;
                    #carouselExampleSlidesOnly {
                        div {
    
                            div {
                                img {
    
                                }
                            }
                        }
                    }
                }
            }
            #containerArea {
                height: 23vh;
                padding-top: 2vh;
            }
            h5 {
                padding-top: 2vh;
            }
        }
        #footerContacto {
            background-color: $colorgeneral;
            width: 100%;
            margin-bottom: 0%;
            div {
                #divFooterContacto {
                    div {
                        a {
                            #imgFooter {
                                width: 200px;
                            }
                        }
                        p {
    
                        }       
    
                } 
                }
                    div {
                        #ulDelFooter {
                            @include reseteo-lista;
                            margin-bottom: 0px;
                            li {
                                a {
                                    
    
                                }
    
                            }
    
                        }
                    }
    
            }
    
        }
        }