@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
  

}
@media (max-width: 768px) {
  main {
    height: 3000vh;
}
  
}
@media (max-width: 600px) {
  main {
    height: 250vh;
}
#containerArea {
  height: 26vh;
  padding-top: 2vh;

}
}

@media (max-width: 480px) {
  main {
    height: 250vh;
}
 
}

@media (max-width: 320px) {
  main {
    height: 280vh;
}
}