@import "./mixin";

#bodyOllerosSitios {
    #header {
        @include ajuste-padding;
        nav {
            div {
                a {
                    .navLogo {
                        width: 200px;
                        padding: 0px;

                    }
                }
            }
        }
    }
    main {
        div {
            section {
                @include ajuste-padding;
            }
        }

        #containerArea {
            padding-top: 2vh;
        }
        h5 {
            padding-top: 2vh;
        }
    }
    #footer {
        background-color: $colorgeneral;
        width: 100%;
        div {
            #divFooter {
                div {
                    a {
                        #imgFooter {
                            width: 200px;
                        }
                    }
                    p {
                        padding-left: 2rem;
                        font-size: 0.8rem;

                    }       

            } 
            }
                div {
                    #ulDelFooter {
                        @include reseteo-lista;
                        margin-bottom: 0px;
                        li {
                            a {
                                padding-left: 2rem;
                                font-size: 0.8rem;
                                

                            }

                        }

                    }
                }

        }

    }
    }

