#bodySabattini {
    height: 215vh;
    #header {
        padding-left: 0px;
        padding-right: 0px;
        nav {
            div {
                a {
                    .navLogo {
                        width: 200px;
                        padding: 0px;

                    }
                }
            }
        }
    }
    main {
        height: 190vh;
        div {
            section {
                padding-left: 0px;
                padding-right: 0px;
                #carouselExampleSlidesOnly {
                    div {

                        div {
                            img {

                            }
                        }
                    }
                }
            }
        }
        #containerArea {
            height: 23vh;
            padding-top: 2vh;
        }
        h5 {
            padding-top: 2vh;
        }
    }
    #footer {
        background-color: $colorgeneral;
        width: 100%;
        div {
            #divFooter {
                div {
                    a {
                        #imgFooter {
                            width: 200px;
                        }
                    }
                    p {

                    }       

            } 
            }
                div {
                    #ulDelFooter {
                        @include reseteo-lista;
                        margin-bottom: 0px;
                        li {
                            a {
                                

                            }

                        }

                    }
                }

        }

    }
    }