@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "../scss/_contacto.scss";
@import "./socmayo";
@import "./socollerosdc";
@import "./socollerossitios";
@import "./socsabattini";
@import "./mixin";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    @include reseteo-lista;
}

#bodyIndex {
    #header {
        padding-left: 0px;
        padding-right: 0px;
        nav {
            div {
                a {
                    .navLogo {
                        width: 200px;
                        padding: 0px;

                    }
                }
            }
        }
    }
    main {
        div {
            section {
                padding-left: 0px;
                padding-right: 0px;

            }
        }
        #containerArea {
            padding-top: 2vh;
        }
        h5 {
            padding-top: 2vh;
        }
    }
    #footer {
        background-color: $colorgeneral;
        width: 100%;
        div {
            #divFooter {
                div {
                    a {
                        #imgFooter {
                            width: 200px;
                        }
                    }
                    p {
                        padding-left: 2rem;
                        font-size: 0.8rem;
                    }       

            } 
            }
                div {
                    #ulDelFooter {
                        @include reseteo-lista;
                        margin-bottom: 0px;
                        li {
                            a {
                                padding-left: 2rem;
                                font-size: 0.8rem;                              
                                

                            }

                        }

                    }
                }

        }

    }
    }

